@page
@using Microsoft.AspNetCore.Http
@using Sjalvdeklaration.Pages
@model Sjalvdeklaration.Pages.UserOnlineModel
@{
    ViewData["Title"] = "UserOnline";
}

<h2>UserOnline</h2>

<b>IdPorten Id:</b> @Model.UserItem.Id<br />
<b>Användare Pid:</b> @Model.UserItem.SocialSecurityNumber<br />
<b>Användare Namn:</b> @Model.UserItem.Name<br />
<b>Användare Email:</b> @Model.UserItem.Email<br />
<b>Användare Phone:</b> @Model.UserItem.Phone<br />

<b>Roller:</b>
@foreach (var role in Model.UserItem.RoleList)
{
    @role.RoleItem.Name<span>, </span>
}

