@page
@model CompanyFormModel

@{
    var title = Model.CompanyItemForm.Id != Guid.Empty ? "Uppdatera " + Model.CompanyItemForm.Name : "Ny interne virksamhet";

    ViewData["Title"] = title;
}

<h1>@title</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    @Html.HiddenFor(x => x.CompanyItemForm.Id)
    @Html.EditorFor(x => x.CompanyItemForm.Code, "TextBox")
    @Html.EditorFor(x => x.CompanyItemForm.CorporateIdentityNumber, "TextBox")
    @Html.EditorFor(x => x.CompanyItemForm.Name, "TextBox")
    @Html.EditorFor(x => x.CompanyItemForm.CustomName, "TextBox")

    <fieldset>
        <legend>
            Virksomhetens adresse
        </legend>

        @Html.EditorFor(x => x.CompanyItemForm.AddressStreet, "TextBox")
        @Html.EditorFor(x => x.CompanyItemForm.AddressZip, "TextBox")
        @Html.EditorFor(x => x.CompanyItemForm.AddressCity, "TextBox")
    </fieldset>

    <fieldset>
        <legend>
            Kontaktperson Virksomhet
        </legend>

        @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Name, "TextBox")
        @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Email, "TextBox")
        @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].PhoneCountryCode, "TextBox")
        @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Phone, "TextBox")
    </fieldset>

    @if (Model.CompanyItemForm.Id != Guid.Empty && Model.CompanyItemForm.UserList.Any())
    {
        <fieldset>
            <legend>Brukere</legend>

            @foreach (var user in Model.CompanyItemForm.UserList)
            {
                <div class="row">
                    <div class="medium-6 column">
                        @user.UserItem.SocialSecurityNumber
                    </div>
                    <div class="medium-6 column">
                        <button class="button delete icon" type="submit" asp-page-handler="RemoveLink" asp-route-id="@user.UserItemId">Radera <span class="show-for-sr">@user.UserItem.SocialSecurityNumber</span></button>
                    </div>
                </div>

            }
        </fieldset>
    }

    @if (Model.CompanyItemForm.Id != Guid.Empty)
    {

        <input class="button update icon" type="submit" value="Update" />

        if (!Model.CompanyItemForm.DeclarationList.Any())
        {
            <a class="button add icon" asp-page="DeclarationForm" asp-route-companyId="@Model.CompanyItemForm.Id">Opprett selvdeklarasjon</a>
        }

        <button class="button delete icon" type="submit" asp-page-handler="RemoveCompany" asp-route-id="@Model.CompanyItemForm.Id">Radera</button>

    }
    else
    {
        <input class="button add icon" type="submit" value="Opprett virksomhet" asp-route-type="add" />
        <input class="button add icon" type="submit" value="Opprett selvdeklarasjon" asp-route-type="declaration" />
    }
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}