@page
@model CompanyFormModel

@{
    var title = Model.CompanyItemForm?.Id != Guid.Empty ? Localizer["Update business"] : Localizer["New business"];

    ViewData["Title"] = title;
}

<h1>@title</h1>

<div class="form-wrapper">
    <form method="post">
        <div asp-validation-summary="All"></div>

        <fieldset>

            <legend>
                @Localizer["Basic Info"]
            </legend>
            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.HiddenFor(x => x.CompanyItemForm.Id)
                    @Html.EditorFor(x => x.CompanyItemForm.Code, "TextBoxNumber")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.ExternalId, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.CorporateIdentityNumber, "TextBoxLong")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.OwenerCorporateIdentityNumber, "TextBoxLong")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.Name, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.CustomName, "TextBox")
                </div>
            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>
                @Localizer["User Postal Address"]
            </legend>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.MailingAddressStreet, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.MailingAddressZip, "TextBoxNumber")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.MailingAddressCity, "TextBox")
                </div>
            </div>

        </fieldset>

        <br />

        @if (string.IsNullOrEmpty(Model.CompanyItemForm.CustomLocationAddressStreet) && string.IsNullOrEmpty(Model.CompanyItemForm.CustomLocationAddressZip) && string.IsNullOrEmpty(Model.CompanyItemForm.CustomLocationAddressStreet))
        {
            <fieldset>
                <legend>
                    @Localizer["Location Address"]
                </legend>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.LocationAddressStreet, "TextBox")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-4 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.LocationAddressZip, "TextBoxNumber")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.LocationAddressCity, "TextBox")
                    </div>
                </div>
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend>
                    @Localizer["Changed Location Address"]
                </legend>

                @Html.HiddenFor(x => x.CompanyItemForm.LocationAddressStreet)
                @Html.HiddenFor(x => x.CompanyItemForm.LocationAddressZip)
                @Html.HiddenFor(x => x.CompanyItemForm.LocationAddressCity)

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomLocationAddressStreet, "TextBox")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-4 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomLocationAddressZip, "TextBoxNumber")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomLocationAddressCity, "TextBox")
                    </div>
                </div>
            </fieldset>
        }
        <br />

        @if (string.IsNullOrEmpty(Model.CompanyItemForm.CustomBusinessAddressStreet) && string.IsNullOrEmpty(Model.CompanyItemForm.CustomBusinessAddressZip) && string.IsNullOrEmpty(Model.CompanyItemForm.CustomBusinessAddressStreet))
        {
            <fieldset>
                <legend>
                    @Localizer["Business Address"]
                </legend>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.BusinessAddressStreet, "TextBox")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-4 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.BusinessAddressZip, "TextBoxNumber")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.BusinessAddressCity, "TextBox")
                    </div>
                </div>
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend>
                    @Localizer["Changed Business Address"]
                </legend>

                @Html.HiddenFor(x => x.CompanyItemForm.BusinessAddressStreet)
                @Html.HiddenFor(x => x.CompanyItemForm.BusinessAddressZip)
                @Html.HiddenFor(x => x.CompanyItemForm.BusinessAddressCity)

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomBusinessAddressStreet, "TextBox")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-4 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomBusinessAddressZip, "TextBoxNumber")
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 end columns">
                        @Html.EditorFor(x => x.CompanyItemForm.CustomBusinessAddressCity, "TextBox")
                    </div>
                </div>
            </fieldset>
        }

        <br />

        <fieldset>
            <legend>
                @Localizer["Contact Person Business"]
            </legend>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Name, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Email, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].PhoneCountryCode, "TextBoxNumber")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.ContactPersonList[0].Phone, "TextBoxNumber")
                </div>
            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>
                @Localizer["Industry Group"]
            </legend>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.IndustryGroupCode, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.IndustryGroupDescription, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.IndustryGroupAggregated, "TextBox")
                </div>
            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>
                @Localizer["Institutional Sector Code"]
            </legend>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.InstitutionalSectorCode, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.CompanyItemForm.InstitutionalSectorDescription, "TextBox")
                </div>
            </div>

        </fieldset>
        <br />

        @if (Model.CompanyItemForm != null && Model.CompanyItemForm.Id != Guid.Empty && Model.CompanyItemForm.UserList.Any())
        {
            <fieldset>
                <legend>@Localizer["User"]</legend>

                <ul class="listing-border">
                    @foreach (var user in Model.CompanyItemForm.UserList)
                    {
                        <li>
                            <div class="row collapse">
                                <div class="small-6 column">
                                    <span class="listing-social-security-number">@user.UserItem.SocialSecurityNumber</span>
                                </div>
                                <div class="small-6 text-right column">
                                    <button class="button small delete" type="submit" asp-page-handler="RemoveLink" asp-route-id="@user.UserItemId">@Localizer["Remove Link"] <span class="show-for-sr">@user.UserItem.SocialSecurityNumber</span></button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </fieldset>
        }
        <br />
        <div class="row collapse align-bottom">
            @{
                var colCount = Model.CompanyItemForm != null && Model.CompanyItemForm.Id != Guid.Empty ? "small-12 medium-8" : "small-12 medium-12";
            }

            <div class="@colCount">
                <a class="button cancel" asp-page="/Admin/CompanyList">@Localizer["Cancel"]</a>
                @if (Model.CompanyItemForm != null && Model.CompanyItemForm.Id != Guid.Empty)
                {
                    <input class="button large" type="submit" asp-route-handler="save" value="@Localizer["Save"]" />
                }
                else
                {
                    <input class="button large" type="submit" value="@Localizer["New Declaration"]" asp-route-handler="save" asp-route-type="declaration" />
                    <input class="button large" type="submit" value="@Localizer["New Client"]" asp-route-handler="save" asp-route-type="add" />
                }

            </div>
            <div class="small-12 medium-4 text-right column">
                @if (Model.CompanyItemForm != null && Model.CompanyItemForm.Id != Guid.Empty)
                {
                    <button class="button delete" type="submit" onclick="return confirm('@Localizer["Are you sure you want to delete this company?"]');" asp-page-handler="RemoveCompany" asp-route-id="@Model.CompanyItemForm.Id">@Localizer["Delete Business"]</button>
                }

            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}