@page
@model CompanyListModel

@{
    ViewData["Title"] = "Start";
}

<h1>@Localizer["Admin-company-h1"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ExcelFile" class="control-label"></label>
        <input asp-for="ExcelFile" type="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <span asp-validation-for="ExcelFile" class="text-danger"></span>
    </div>

    <button type="submit update" class="button" asp-page-handler="ExcelImport">@Localizer["Admin-import-company"]</button>
</form>

<form method="post">
    <table class="table">
        <caption>
            <h2>@Localizer["Admin-company-h1"]</h2>
        </caption>
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Name)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.OwenerCorporateIdentityNumber)</th>

                <th scope="col">@Localizer["Admin-contact-name"]</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.ContactPersonList.SingleOrDefault().Email)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.ContactPersonList.SingleOrDefault().Phone)</th>
                <th scope="col" class="no-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompanyList)
            {
                var contactPerson = item.ContactPersonList.FirstOrDefault();

                <tr>
                    <td class="clickable-td">
                        @item.Name
                    </td>
                    <td class="clickable-td">
                        <a asp-page="CompanyForm" asp-route-id="@item.Id">@item.OwenerCorporateIdentityNumber</a>
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.Name
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.Email
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.PhoneCountryCode
                        @contactPerson?.Phone
                    </td>
                    <td>
                        @if (item.DeclarationList.Count > 0)
                        {
                        <a class="button add icon" asp-page="DeclarationForm" asp-route-companyId="">@Localizer["Admin-new-declaration"]</a>
                        }
                        else
                        {
                        <a class="button add icon" asp-page="DeclarationForm" asp-route-companyId="@item.Id">@Localizer["Admin-new-declaration"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

