@page
@model CompanyListModel

@{
    ViewData["Title"] = "Start";
}

<h1>@Localizer["Admin-company-h1"]</h1>

<a class="button add icon" asp-page="CompanyForm">@Localizer["Admin-new-company"]</a>

<div class="jsExcelImportContainer">
    <button class="button jsExcelImportButton">@Localizer["Admin-import-company"]</button>

    <div class="jsExcelImportTarget">
        <form method="post" enctype="multipart/form-data">
            @Html.EditorFor(x => x.ExcelFile, "File")

            <button type="submit" class="button" asp-page-handler="ExcelImport">@Localizer["Admin-import-company"]</button>
        </form>
    </div>
</div>

@if (Model.ImportTryCount > 0)
{
    @Model.ImportIOkCount <span>virksomheter importert av</span> @Model.ImportTryCount
}

<form method="post">
    <table class="table">
        <caption>
            <h2>@Localizer["Admin-company-h1"]</h2>
        </caption>
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Name)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.OwenerCorporateIdentityNumber)</th>

                <th scope="col">@Localizer["Admin-contact-name"]</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.ContactPersonList.SingleOrDefault().Email)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.ContactPersonList.SingleOrDefault().Phone)</th>
                <th scope="col" class="no-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompanyList)
            {
                var contactPerson = item.ContactPersonList.FirstOrDefault();

                <tr>
                    <td class="clickable-td">
                        @item.Name
                    </td>
                    <td class="clickable-td">
                        <a asp-page="CompanyForm" asp-route-id="@item.Id">@item.OwenerCorporateIdentityNumber</a>
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.Name
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.Email
                    </td>

                    <td class="clickable-td">
                        @contactPerson?.PhoneCountryCode
                        @contactPerson?.Phone
                    </td>
                    <td>
                        @if (item.DeclarationList.Count > 0)
                        {
                        }
                        else
                        {
                            <a class="button add icon" asp-page="DeclarationForm" asp-route-companyId="@item.Id">@Localizer["Admin-new-declaration"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}