@page
@model DeclarationListModel
@{
    ViewData["Title"] = "DeclarationList";
}

<h1>Selvdeklarasjoner</h1>

<h2>
    Filtrering
</h2>

<form method="post">
    <h3>@Model.ViewCount Selvdeklarasjoner av totalt @Model.TotalCount</h3>

    <button class="button" type="submit" asp-page-handler="ExportDeclarationList">Eksporter alle i listen</button>

    <table class="table">
        <caption>
            <h2>Selvdeklarasjoner</h2>
        </caption>
        <thead>
        <tr>
            <th scope="col">Virksamhet</th>
            <th scope="col">Automat</th>
            <th scope="col">E-post kontaktperson</th>
            <th scope="col">Frist for innsending</th>
            <th scope="col">Dato sendt inn</th>
            <th scope="col">Status for selvdeklarasjon</th>
            <th scope="col">Status for tilsyn</th>
            <th scope="col">Eksporter</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.DeclarationList)
        {
            <tr>
                <td>
                    @item.Company.Name
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.User.Email
                </td>
                <td>
                    @item.DeadLineDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.SentInDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <button class="button" type="submit" asp-page-handler="ExportDeclaration" asp-route-id="@item.Id">Eksporter</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>