@page
@model DeclarationListModel
@{
    ViewData["Title"] = "DeclarationList";
}

<h1>Selvdeklarasjoner</h1>

<form method="post">
    <h3>@Model.ViewCount Selvdeklarasjoner av totalt @Model.TotalCount</h3>

    <button class="button update" type="submit" asp-page-handler="ExportDeclarationList">Eksporter alle i listen</button>

    <table class="table">
        <caption>
            <h2>Selvdeklarasjoner</h2>
        </caption>
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Name)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Company.Name)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Company.ContactPersonList.SingleOrDefault().Email)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.DeadlineDate)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.SentInDate)</th>
                <th scope="col">Status 1</th>
                <th scope="col">Status 2</th>
                <th scope="col">Eksporter</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.DeclarationList)
        {
            var contactPerson = item.Company.ContactPersonList.FirstOrDefault();

            <tr>
                <td>
                    <a asp-page="/Admin/DeclarationForm" asp-route-id="@item.Id" asp-route-companyId="@item.Company.Id">@item.Name</a>
                </td>
                <td>
                    @item.Company.Name
                </td>
                <td>
                    @contactPerson?.Email
                </td>
                <td>
                    @item.DeadlineDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @if (item.SentInDate != DateTime.MinValue)
                    {
                        @item.SentInDate.ToString("yyyy-MM-dd")
                    }
                </td>
                <td>
                    @item.Status.TextAdmin
                </td>
                <td>
                    @item.Status.TextCompany
                </td>
                <td>
                    <button class="button update" type="submit" asp-page-handler="ExportDeclaration" asp-route-id="@item.Id">Eksporter</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>