@page
@model DeclarationListModel
@{
    ViewData["Title"] = Localizer["Self-inspection"];
}

<h1>@Localizer["Self-inspection"]</h1>

<form method="post">

    @Html.HiddenFor(x => x.TotalCount)

    <div class="row">
        <div class="small-12 column">
            <h3>@Localizer["Filter self-controls"]</h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 column">
            <div class="filter-wrapper">
                <fieldset>
                    <legend>@Localizer["Date submitted"]</legend>
                </fieldset>

                <div class="row">
                    <div class="small-3 column">
                        <div class="row">
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.FromDate, "Date")
                            </div>
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.ToDate, "Date")
                            </div>
                        </div>
                    </div>

                    <div class="small-6 column">
                        <div class="row">
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.Status1, "DropdownListInt", new { list = Model.SelectStatusList })
                            </div>
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.Status2, "DropdownListInt", new { list = Model.SelectStatusList })
                            </div>
                        </div>
                    </div>

                    <div class="small-3 column">
                        <div class="row collapse">
                            <div class="small-6 column">
                                <br />
                                <button class="button" type="submit" asp-page-handler="Filter">@Localizer["Filter"]</button>
                            </div>
                            <div class="small-6 column">
                                <br />
                                <button class="button" type="submit" asp-page-handler="ViewAll">@Localizer["Show all"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="small-6 column">
        <h3>@Model.ViewCount @Localizer["Self-inspections"]  @Localizer["of total"] @Model.TotalCount</h3>
    </div>
    <div class="small-6 text-right column">
        <form method="post">
            <button class="button export-all" type="submit" asp-page-handler="ExportDeclarationList">@Localizer["Export all"]</button>
        </form>
    </div>
</div>


<table class="responsive-table table jsNormalTableSort">
    <caption>
        <h2>@Localizer["DeclarationList-header-h2"]</h2>
    </caption>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Name)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Company.Name)</th>
            <th scope="col">@Localizer["Executive officer"]</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.DeadlineDate)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.SentInDate)</th>
            <th scope="col">@Localizer["Status of self-control"]</th>
            <th scope="col">@Localizer["Status of supervision"]</th>
            <th class="sorter-false" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeclarationList)
        {
            var contactPerson = item.Company.ContactPersonList.FirstOrDefault();

            <tr>
                <td class="clickable-td" data-th="@Html.DisplayNameFor(x => x.LocalizationItem.Name)">
                    <a asp-page="/Admin/DeclarationForm" asp-route-id="@item.Id" asp-route-companyId="@item.Company.Id">@item.Name</a>
                </td>
                <td data-th="@Html.DisplayNameFor(x => x.LocalizationItem.Company.Name)">
                    @item.Company.Name
                </td>
                <td data-th="@Localizer["Executive officer"]">
                    @item.User.Name
                </td>
                <td data-th="@Html.DisplayNameFor(x => x.LocalizationItem.DeadlineDate)">
                    @item.DeadlineDate.ToString("dd.MM.yyyy HH:mm")
                </td>
                <td data-th="@Html.DisplayNameFor(x => x.LocalizationItem.SentInDate)">
                    @if (item.SentInDate != DateTime.MinValue)
                    {
                        @item.SentInDate.ToString("dd.MM.yyyy HH:mm")
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td data-th="@Localizer["Status of self-control"]">
                    @item.Status.TextCompany
                </td>
                <td data-th="@Localizer["Status of supervision"]">
                    @item.Status.TextAdmin
                </td>

                <td data-th="Export">
                    <form method="post">
                        <button class="button export" type="submit" asp-page-handler="ExportDeclaration" asp-route-id="@item.Id"><span class="show-for-sr">@Localizer["Export"]</span></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
