@page
@model DeclarationFormModel

@{
    var title = Model.DeclarationItemForm.Id != Guid.Empty ? "Oppdater egenkontroll" : "Opprette egenkontroll";

    ViewData["Title"] = Model.DeclarationItemForm.Company.Name + " - " + title;
}

<h1>@Model.DeclarationItemForm.Company.Name</h1>

<h2>@title</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    @Html.HiddenFor(x => x.DeclarationItemForm.Id)
    @Html.HiddenFor(x => x.DeclarationItemForm.CompanyItemId)
    @Html.EditorFor(x => x.DeclarationItemForm.Name, "TextBox")
    @Html.EditorFor(x => x.DeclarationItemForm.CaseNumber, "TextBox")
    @Html.EditorFor(x => x.DeclarationItemForm.DeadlineDate, "DateTime")

    @if (Model.DeclarationItemForm.Id != Guid.Empty)
    {
        @Html.EditorFor(x => x.DeclarationItemForm.StatusId, "DropdownListInt", new { list = Model.SelectStatusList })
    }

    @Html.EditorFor(x => x.DeclarationItemForm.UserItemId, "DropdownListGuid", new { list = Model.SelectUserList })

    <div style="display: none;">
        @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.TypeOfTest, "DisplayValueList")
        @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.TypeOfMachine, "DisplayValueList")
    </div>

    @if (Model.DeclarationItemForm.Id != Guid.Empty)
    {
        <input class="button update" type="submit" value="@Localizer["Update"]" />
        <a class="button" asp-page="/Admin/DeclarationList">@Localizer["Cancel"]</a>
    }
    else
    {
        <input class="button add" type="submit" value="@Localizer["Add"]" />

        <a class="button" asp-page="/Admin/CompanyList">@Localizer["Cancel"]</a>
    }
</form>

@if (Model.DeclarationItemForm?.Status?.Id > 2)
{
    <img src="/images/Oppsummering.png" alt="Oppsummering"/>
}


@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}