@page
@using Difi.Sjalvdeklaration.wwwroot.Pages.Admin
@model Difi.Sjalvdeklaration.wwwroot.Pages.Admin.LogListModel
@{
    ViewData["Title"] = Localizer["Log list"];
}

<h1>@Localizer["Log list"]</h1>

<br />

<form method="post">

    @Html.HiddenFor(x => x.TotalCount)

    <div class="row">
        <div class="small-12 column">
            <h3>@Localizer["Filter loglist"]</h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 column">
            <div class="filter-wrapper">
         

                <div class="row">
                    <div class="small-3 column">
                        <div class="row">
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.FromDate, "Date")
                            </div>
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.ToDate, "Date")
                            </div>
                        </div>
                    </div>

                    <div class="small-6 column">
                        <div class="row">
                            <div class="small-6 column">
                                @Html.EditorFor(x => x.FilterModel.Status1, "DropdownListInt", new { list = Model.SelectSucceededList })
                            </div>
                        </div>
                    </div>

                    <div class="small-3 column">
                        <div class="row collapse">
                            <div class="small-6 column">
                                <br />
                                <button class="button" type="submit" asp-page-handler="Filter">@Localizer["Filter"]</button>
                            </div>
                            <div class="small-6 column">
                                <br />
                                <button class="button" type="submit" asp-page-handler="ViewAll">@Localizer["Show all"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.LogList != null)
{
    <table class="table jsLogTableSort">
        <caption>
            <h2>@Localizer["Log list"]</h2>
        </caption>
        <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Created)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Class)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.Function)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.UserId)</th>
            <th scope="col">@Html.DisplayNameFor(x => x.LocalizationItem.ResultSucceeded)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.LogList)
        {
            <tr>
                <td class="clickable-td">
                    <span class="hide">@item.Created.Ticks</span>
                    <a asp-page="LogView" asp-route-id="@item.Id">@item.Created.ToString("dd.MM.yyyy HH:mm")</a>
                </td>

                <td class="clickable-td">
                    @item.Class.Replace("LogDecorator", String.Empty)
                </td>

                <td class="clickable-td">
                    @item.Function
                </td>

                <td class="clickable-td">
                    @item.UserItem.Name
                </td>

                <td class="clickable-td">
                    @(item.ResultSucceeded ? Localizer["Yes"] : Localizer["No"])
                </td>
            </tr>
        }
        </tbody>
    </table>
}