@page
@model Difi.Sjalvdeklaration.wwwroot.Pages.Admin.UserFormModel

@{
    var title = Model.UserItemForm.Id != Guid.Empty ? "Uppdatera " + Model.UserItemForm.Name : "Ny interne brukere";
    ViewData["Title"] = title;
}

<h1>
    @title
</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    @Html.HiddenFor(x => x.UserItemForm.Id)
    @Html.EditorFor(x => x.UserItemForm.Name, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.SocialSecurityNumber, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Email, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.CountryCode, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Phone, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Title, "TextBox")
    @Html.EditorFor(x => x.SelectRoleList, "CheckBoxList")

    @if (Model.UserItemForm.Id != Guid.Empty)
    {
        <input class="button update icon" type="submit" value="@Localizer["Update"]" />
        <button class="button delete icon" type="submit" asp-page-handler="RemoveUser" asp-route-id="@Model.UserItemForm.Id">@Localizer["Remove"]</button>
    }
    else
    {
        <input class="button add icon" type="submit" value="Add" />
    }
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}