@page
@model UserListModel

@{
    ViewData["Title"] = "Administrere interne brukere";
}

<h1>Administrere interne brukere</h1>

<table class="table">
    <caption>
        <h2>Brukere</h2>
    </caption>
    <thead>
        <tr>
            <th scope="col">SocialSecurityNumber</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Title</th>
            <th scope="col">RoleList</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>
                    <a asp-page="UserForm" asp-route-id="@item.Id">@item.SocialSecurityNumber</a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.CountryCode
                    @item.Phone
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.RoleList.Select(x => x.RoleItem).Aggregate(" ", (current, roleItem) => current + ", " + roleItem.Name).Replace(" , ", "")
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <a class="button" asp-page="UserForm">Opprett ny interne brukere</a>
</form>