@page
@model UserAddModel

@{
    ViewData["Title"] = "Ny interne brukere";
}

<h1>Ny interne brukere</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    @Html.EditorFor(x => x.UserItemForm.Name, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.SocialSecurityNumber, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Email, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Phone, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Title, "TextBox")
    @Html.EditorFor(x => x.SelectRoleList, "CheckBoxList")

    <input type="submit" value="Lägg till" />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}