@page
@model Difi.Sjalvdeklaration.wwwroot.Pages.Admin.UserFormModel

@{
    var title = Model.UserItemForm?.Id != Guid.Empty ? Localizer["Update user"] : Localizer["New internal user"];
    ViewData["Title"] = title;
}

<h1>
    @title
</h1>

@if (Model.UserItemForm != null)
{
    <div class="form-wrapper">
        <form method="post">
            <div asp-validation-summary="All"></div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.HiddenFor(x => x.UserItemForm.Id)
                    @Html.EditorFor(x => x.UserItemForm.Name, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.UserItemForm.SocialSecurityNumber, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.UserItemForm.Email, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-4 end columns">
                    @Html.EditorFor(x => x.UserItemForm.PhoneCountryCode, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.UserItemForm.Phone, "TextBox")
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 end columns">
                    @Html.EditorFor(x => x.UserItemForm.Title, "TextBox")
                </div>
            </div>

            <br />

            <div class="row">
                <div class="small-12 medium-12 end columns">
                    @Html.EditorFor(x => x.SelectRoleList, "CheckBoxList")
                </div>
            </div>

            <br /><br />
            <div class="row collapse align-bottom">
                @if (Model.UserItemForm.Id != Guid.Empty)
                {
                    <div class="small-12 medium-8">
                        <a class="button cancel" asp-page="/Admin/UserList">@Localizer["Cancel"]</a>
                        <input class="button large" type="submit" value="@Localizer["Save"]" asp-route-handler="save"/>
                    </div>
                    <div class="small-12 medium-4 text-right column">
                        <button class="button delete" type="submit" onclick="return confirm('@Localizer["Are you sure you want to delete this user?"]');" asp-page-handler="RemoveUser" asp-route-id="@Model.UserItemForm.Id">@Localizer["Delete user"]</button>
                    </div>
                }
                else
                {
                    <div class="small-12">
                        <a class="button cancel" asp-page="/Admin/UserList">@Localizer["Cancel"]</a>
                        <input class="button large" type="submit" value="@Localizer["Save"]" asp-route-handler="save"/>
                    </div>
                }
            </div>
        </form>
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}