@page
@model UserAddModel

@{
    ViewData["Title"] = "Ny interne brukere";
}

<h1>Ny interne brukere</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    @Html.EditorFor(x => x.UserItemForm.Name, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.SocialSecurityNumber, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Email, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Phone, "TextBox")
    @Html.EditorFor(x => x.UserItemForm.Title, "TextBox")

    <div>
        <fieldset>
            <legend>Roller:</legend>

            <ul>
                @for (var i = 0; i < Model.UserItemForm.RoleListForm.Count; i++)
                {
                    <li>
                        <input type="checkbox" asp-for="@Model.UserItemForm.RoleListForm[i].Selected" />
                        <label asp-for="@Model.UserItemForm.RoleListForm[i].Selected">@Model.UserItemForm.RoleListForm[i].Name</label>
                        <input type="hidden" asp-for="@Model.UserItemForm.RoleListForm[i].Id" />
                        <input type="hidden" asp-for="@Model.UserItemForm.RoleListForm[i].Name" />
                    </li>
                }
            </ul>

        </fieldset>
    </div>

    <div>
        <input type="submit" value="Lägg till" />
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}