@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http

@inject IAuthorizationService AuthorizationService
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout.cshtml";

    var activePage = Context.Request.Path.ToString().Replace("/Admin/", "").Replace("Form", "").Replace("List", "").Replace("View", ""); ;
    var nameClaim = HttpContextAccessor.HttpContext?.User?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name);
    var roleClaims = HttpContextAccessor.HttpContext?.User?.Claims.Where(x => x.Type == ClaimTypes.Role);
}

<header>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="row">
                <div class="small-8 column">
                    <div class="logo">
                        <img alt="Difi logo" src="~/images/difi-logo.svg" srcset="/images/difi-logo_mobil.svg 767w, /images/difi-logo.svg 768w" />
                    </div>
                </div>
                <div class="small-4 column">
                    <div class="jsProfileContainer profile-wrapper admin">
                        <div class="profile-area">
                            <div class="row collapse">

                                <div class="small-12 medium-12 text-right columns">
                                    <button class="jsProfileTrigger toggle-profile-button button">
                                        <span class="profile-first-letter">@nameClaim?.Value</span>

                                        <span class="profile-area-text-wrapper hide-for-small-only">
                                            <span class="profile-name ">@nameClaim?.Value</span><br />
                                            <span class="profile-title">
                                                @if (roleClaims != null)
                                                {
                                                    foreach (var role in roleClaims)
                                                    {
                                                        @role.Value<br />
                                                    }
                                                }
                                            </span>
                                        </span>
                                        
                                        <span class="profile-icon"><span class="show-for-sr"> - @Localizer["View log out"]</span></span>

                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="jsProfileToggleTarget profile-info-area" style="display: none;">
                            <a asp-page="/LogoutHandler" asp-route-what="logout" class="button alt logout">@Localizer["Log out"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 column">
                    <nav class="global-navigation">
                        <ul>
                            <li class="@(activePage == "Declaration" ? "active" : "" )">
                                <a asp-page="DeclarationList">@Localizer["Self-controls list"]</a>
                            </li>

                            <li class="@(activePage == "Company" ? "active" : "" )">
                                <a asp-page="CompanyList">@Localizer["Company list"]</a>
                            </li>

                            @if ((await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded)
                            {
                                <li class="@(activePage == "User" ? "active" : "" )">
                                    <a asp-page="UserList">@Localizer["Internal users"]</a>
                                </li>

                                <li class="@(activePage == "Log" ? "active" : "" )">
                                    <a asp-page="LogList">@Localizer["Log"]</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}