@using Difi.Sjalvdeklaration.Shared.Classes.ValueList
@model Difi.Sjalvdeklaration.Shared.Classes.ImageItem

@{
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var result = (ValueListTypeOfResult)ViewData["result"];
    var viewResult = (bool)ViewData["viewResult"];
    var id = Guid.NewGuid();
}

<div class="card-divider">
    @if (Model != null)
    {
        <label class="legend">
            <span class="legend-text">
                @orderText @text
            </span>
        </label>
        <div>
            @{
                var image1 = Model.Container + "/" + Model.Blob;
            }

            @if (viewResult)
            {
                <a target="_blank" href="@image1">
                    <img src="@image1" alt="Opplastet bilde" width="200" />
                </a>
            }
            else
            {
                <img src="@image1" alt="Opplastet bilde" width="200" />
            }
        </div>
    }
    else
    {
        <label class="legend" aria-describedby="@id">
            <span class="legend-text">
                @orderText @text
            </span>
        </label>
        <div class="small-12 columns">
            <p class="send-info-wrapper" id="@id"><span class="error"></span>@Localizer["Here you need to upload a picture."]</p>
        </div>
    }
</div>