@model Difi.Sjalvdeklaration.Shared.Classes.Declaration.DeclarationItem

@{
    var backUrl = ViewData["backUrl"];
}

<header class="no-bg">
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="row column">
                <div class="small-5 medium-2 columns hide-for-print">
                    <a class="button white back" href="@backUrl">@Localizer["Go back"]</a>
                </div>

                <div class="small-7 medium-push-6 medium-4 columns text-right hide-for-print">
                    <div class="row align-middle">
                        <div class="small-8 medium-9 columns">
                            <span class="status-text"><strong>@Localizer["Status"]</strong><span class="show-for-small-only"><br /></span> @Model.Status.TextCompany</span>
                        </div>
                        <div class="small-4 medium-3 columns">
                            <div class="status status-@(Model.DeclarationTestItem.StatusCount * 25)">
                                <div class="status-done">@(Model.DeclarationTestItem.StatusCount * 25)%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-pull-4 medium-6 text-center medium-text-left columns">
                    <h1 class="smaller">@Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
    <hr />
</header>