@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules.Language
@using Difi.Sjalvdeklaration.wwwroot.Business

@model string

@{
    var name = ViewData["id"];
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var value = ViewData["value"];
    var what = (string)ViewData["what"];
    var ruleItem = (RuleItem)ViewData["ruleItem"] ?? new RuleItem { Language = new RuleItemLanguage { HelpText = Html.DescriptionFor(model => model).ToString() } };
    var viewHelp = !string.IsNullOrEmpty(ruleItem?.Language.HelpText);
    var paddingCardDivider = firstQuestion ? "tightup-card-divider-top" : "tightup-card-divider-tight-top";
}

@if (viewHelp && firstQuestion)
{
    @Html.DisplayFor(x => ruleItem, "RuleHelp", new { orderText })
}

<div class="form-field">
    <label class="legend" for="@name">
        @if (firstQuestion)
        {
            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">
                            <span class="legend-number">@orderText</span>
                        </span>
                        <span class="small-10 medium-11 columns">
                            <span class="legend-text">
                                @text
                            </span>
                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    @if (viewHelp)
                    {
                        <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span>Info</span></button>
                    }
                </span>
            </span>
        }
        else
        {
            <span class="card-divider tightup-card-divider-bottom">
                <span class="legend-text">
                    @text
                </span>
            </span>
        }
    </label>

    <div class="card-divider-no-padding @paddingCardDivider">

        <div class="row">
            <div class="small-10 columns">
                <div class="collapse row">
                    <div class="small-10 medium-11 columns medium-offset-1 small-offset-2">
                        @if (what == "textarea")
                        {
                            <textarea id="@name" name="@name">@value</textarea>
                        }
                        else
                        {
                            <input type="text" id="@name" name="@name" value="@value" />
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>