@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules
@model string

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var value = ViewData["value"];
    var what = (string)ViewData["what"];

    var ruleItem = (RuleItem)ViewData["ruleItem"];
    var viewHelp = !string.IsNullOrEmpty(ruleItem?.Language.HelpText);

    var paddingCardDivider = "";

}

@if (viewHelp && firstQuestion)
{
    @Html.DisplayFor(x => ruleItem, "RuleHelp", new { orderText = orderText })
}

<div class="form-field">
    <label class="legend" for="@name">
        @if (firstQuestion)
        {
            paddingCardDivider = "tightup-card-divider-top";

            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">
                            <span class="legend-number">@orderText</span>
                        </span>
                        <span class="small-10 medium-11 columns">
                            <span class="legend-text">
                                @text
                            </span>
                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    @if (viewHelp)
                    {
                        <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span class="show-for-sr">Vis hjelp</span></button>
                    }
                </span>
            </span>
        }
        else
        {
            paddingCardDivider = "tightup-card-divider-tight-top";

            <span class="card-divider tightup-card-divider-bottom">
                <span class="legend-text">
                    @text
                </span>
            </span>
        }
    </label>

    <div class="card-divider @paddingCardDivider">

        @if (what == "textarea")
        {
            <textarea id="@name" name="@name">@value</textarea>
        }
        else
        {
            <input type="text" id="@name" name="@name" value="@value" />
        }
    </div>
</div>
