@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules.Language
@using Difi.Sjalvdeklaration.wwwroot.Business

@model Difi.Sjalvdeklaration.Shared.Classes.ImageItem

@{
    var id = ViewData["id"];
    var text = ViewData["text"] ?? Html.DisplayNameFor(m => m);
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var uploadId = id.ToString().Replace("answer_image_", "");
    var oldId = "old_" + id;
    var answerDataId = "";
    var ruleItem = (RuleItem)ViewData["ruleItem"] ?? new RuleItem { Language = new RuleItemLanguage { HelpText = Html.DescriptionFor(model => model).ToString() } };
    var viewHelp = !string.IsNullOrEmpty(ruleItem?.Language.HelpText);
}

@if (viewHelp && firstQuestion)
{
    @Html.DisplayFor(x => ruleItem, "RuleHelp", new { orderText })
}

<div class="form-field">
    <fieldset>
    @if (firstQuestion)
    {
        <legend class="legend" for="@id">
            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">
                            <span class="legend-number">@orderText</span>
                        </span>
                        <span class="small-10 medium-11 columns">
                            <span class="legend-text">
                                @text
                            </span>
                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    @if (viewHelp)
                    {
                        <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span>Info</span></button>
                    }
                </span>
            </span>
        </legend>
    }

    <div class="card-divider text-center medium-text-left jsUpload">
        @if (Model != null)
        {
            answerDataId = Model.Id.ToString();
            var image = Model.Container + "/" + Model.Blob;

            <div class="uploaded jsUploaded" id="@oldId">
                <div>
                    <ul class="listing qq-upload-list-selector qq-upload-list">
                        <li>
                            <img src="@image" alt="" width="114"/>
                            <button class="link-button jsButtonRemoveImage" data-id="@id">Fjern bilde</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uploader hide" id="@uploadId"></div>
        }
        else
        {
            <div class="uploader" id="@uploadId"></div>
        }

        <input type="hidden" name="@id" id="@id" value="@answerDataId"/>
    </div>
    </fieldset>
</div>