@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules
@model bool

@{
    var name = ViewData["id"];
    var idTrue = name + "_true";
    var idFalse = name + "_false";
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var value = (bool?)ViewData["value"];

    var trueText = ViewData["trueText"];
    var falseText = ViewData["falseText"];

    var ruleItem = (RuleItem)ViewData["ruleItem"];
    var viewHelp = !string.IsNullOrEmpty(ruleItem?.Language.HelpText);
}

@if (viewHelp && firstQuestion)
{
    @Html.DisplayFor(x => ruleItem, "RuleHelp", new { orderText = orderText })
}

<fieldset>
    <legend class="legend">
        @if (firstQuestion)
        {
            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">
                            <span class="legend-number">@orderText</span>
                        </span>
                        <span class="small-10 medium-11 columns">
                            <span class="legend-text">
                                @text
                            </span>
                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    @if (viewHelp)
                    {
                        <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span class="show-for-sr">Vis hjelp</span></button>
                    }
                </span>
            </span>
        }
        else
        {
            <span class="card-divider">
                <span class="legend-text">
                    @text
                </span>
            </span>
        }
    </legend>

    <div class="card-divider">
        <ul class="listing">
            <li class="radio">
                @if (value != null && value == true)
                {
                    <input type="radio" id="@idTrue" name="@name" value="true" checked="checked" />
                }
                else
                {
                    <input type="radio" id="@idTrue" name="@name" value="true" />
                }

                <label for="@idTrue">
                    @trueText
                </label>
            </li>

            <li class="radio">
                @if (value != null && value == false)
                {
                    <input type="radio" id="@idFalse" name="@name" value="false" checked="checked" />
                }
                else
                {
                    <input type="radio" id="@idFalse" name="@name" value="false" />
                }

                <label for="@idFalse">
                    @falseText
                </label>

                <div class="jsNextAnswerItemPlaceHolder"></div>
            </li>
        </ul>
    </div>
</fieldset>