@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules

@model Difi.Sjalvdeklaration.Shared.Classes.ImageItem

@{
    var name = ViewData["id"];
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var uploadId = name.ToString().Replace("answer_image_", "");

    var oldId = "old_" + name;
    var answerDataId = "";

    var ruleItem = (RuleItem)ViewData["ruleItem"];
    var viewHelp = !string.IsNullOrEmpty(ruleItem?.Language.HelpText);
}

@if (viewHelp && firstQuestion)
{
    @Html.DisplayFor(x => ruleItem, "RuleHelp", new { orderText = orderText })
}

<div class="form-field">
    <label class="legend" for="@name">
        @if (firstQuestion)
        {
            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">
                            <span class="legend-number">@orderText</span>
                        </span>
                        <span class="small-10 medium-11 columns">
                            <span class="legend-text">
                                @text
                            </span>
                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    @if (viewHelp)
                    {
                        <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span class="show-for-sr">Vis hjelp</span></button>
                    }
                </span>
            </span>
        }
        else
        {
            <span class="card-divider">
                <span class="legend-text">
                    @text
                </span>
            </span>
        }
    </label>

    <div class="card-divider text-center medium-text-left">
        @if (Model != null)
        {
            answerDataId = Model.Id.ToString();
            var image = Model.Container + "/" + Model.Blob;

            <div class="uploaded jsUploaded" id="@oldId">
                <div>
                    <ul class="listing qq-upload-list-selector qq-upload-list">
                        <li>
                            <img src="@image" alt="" width="114" />
                            <button class="link-button jsButtonRemoveImage" data-id="@name">Fjern bilde</button>
                        </li>
                    </ul>
                </div>
            </div>
        }

        <div class="uploader" id="@uploadId"></div>
        <input type="hidden" name="@name" id="@name" value="@answerDataId" />
    </div>
</div>