@model List<SelectListItem>

<fieldset>
    <legend>@Html.DisplayNameFor(m => m)</legend>

    <ul class="no-bullet">
        @for (var i = 0; i < Model.Count; i++)
        {
            <li>
                <input type="checkbox" asp-for="@Model[i].Selected" />
                <label asp-for="@Model[i].Selected">@Model[i].Text</label>
                <input type="hidden" asp-for="@Model[i].Value" />
                <input type="hidden" asp-for="@Model[i].Text" />
            </li>
        }
    </ul> 
</fieldset>