@model bool

@{
    var name = ViewData["id"];
    var idTrue = name + "_true";
    var idFalse = name + "_false";
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
    var value = (bool?) ViewData["value"];

    var trueText = ViewData["trueText"] ?? "Ja";
    var falseText = ViewData["falseText"]?? "Nej";
}

<div class="jsToggleHelpTarget" style="display: none;" aria-hidden="true">
    <div class="legend">
        <span class="collapse row">

            <span class="small-10 columns">
                <span class="collapse row">
                    <span class="small-2 medium-1 columns">
                        @if (firstQuestion)
                        {

                            <span class="legend-number">@orderText</span>
                        }
                    </span>
                    <span class="small-10 medium-11 columns">
                        <span class="legend-text">
                            Hjelp
                        </span>
                    </span>
                </span>
            </span>

            <span class="small-2 columns text-right">
                <button class="card-help-close-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span class="show-for-sr">Lukk hjelp</span></button>
            </span>

        </span>
    </div>

    <div class="card-help-text">
        <img alt="desciption" src="~/images/help.png" /><br />
        <h3>Krav</h3>
        <p>Dersom to eller flere betalingsterminaler står ved siden av hverandre på rett linje, skal det være minst 150 centimeter fra midten av betalingsterminalen til midten av neste betalingsterminal. NB Kravet gjelder ikke der betalingsterminalene står overfor hverandre.</p>
        <h3>Hensikt</h3>
        <p>Formålet er at betalingsterminaler som står ved siden av hverandre, kan brukes samtidig, og at kundene som skal betale varene sine, kan komme seg bort uten å forstyrre hverandre.</p>
    </div>
</div>


<fieldset>
    <legend class="legend">
        @if (firstQuestion)
        {
            <span class="collapse row">
                <span class="small-10 columns">
                    <span class="collapse row">
                        <span class="small-2 medium-1 columns">

                            <span class="legend-number">@orderText</span>

                        </span>
                        <span class="small-10 medium-11 columns">

                            <span class="legend-text">
                                @text
                            </span>

                        </span>
                    </span>
                </span>

                <span class="small-2 columns text-right">
                    <button class="card-help-button jsToggleHelpButton" aria-controls="" aria-expanded="false"><span class="show-for-sr">Vis hjelp</span></button>
                </span>
            </span>
        }
        else
        {
            <span class="card-divider">
                <span class="legend-text">
                    @text
                </span>
            </span>
        }
    </legend>

    <div class="card-divider">
        <ul class="listing">
            <li class="radio">
                @if (value != null && value == true)
                {
                    <input type="radio" id="@idTrue" name="@name" value="true" checked="checked" />
                }
                else
                {
                    <input type="radio" id="@idTrue" name="@name" value="true" />
                }

                <label for="@idTrue">
                    @trueText
                </label>
            </li>
            <li class="radio">
                @if (value != null && value == false)
                {
                    <input type="radio" id="@idFalse" name="@name" value="false" checked="checked" />
                }
                else
                {
                    <input type="radio" id="@idFalse" name="@name" value="false" />
                }

                <label for="@idFalse">
                    @falseText
                </label>
                
                <div class="jsNextAnswerItemPlaceHolder"></div>
            </li>
        </ul>
    </div>
</fieldset>