@model bool

@{
    var name = ViewData["id"];
    var idTrue = name + "_true";
    var idFalse = name + "_false";
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
}

<fieldset>

    <legend class="legend">
        @if (firstQuestion)
        {
            <span class="legend-number">@orderText</span>
        }

        @text

        <span class="card-help">card-help</span>
    </legend>

    <div class="card-help-text">
        card-help-text
    </div>

    <div class="card-divider">

        <ul class="menu">
            <li>
                <label for="@idTrue">
                    Ja
                </label>

                <input type="radio" id="@idTrue" name="@name" value="true" />
            </li>
            <li>
                <label for="@idFalse">
                    Nej
                </label>

                <input type="radio" id="@idFalse" name="@name" value="false" />
            </li>
        </ul>

    </div>

</fieldset>