@model bool

@{
    var name = ViewData["id"];
    var idTrue = name + "_true";
    var idFalse = name + "_false";
    var text = ViewData["text"];
    var orderText = ViewData["orderText"];
    var firstQuestion = (bool)ViewData["firstQuestion"];
}

<fieldset>
    <legend>
        @if (firstQuestion)
        {
            <span>@orderText</span>
        } 

        @text
    </legend>

    <ul class="menu">
        <li>
            <label for="@idTrue">
                Ja
            </label>

            <input type="radio" id="@idTrue" name="@name" value="true" />
        </li>
        <li>
            <label for="@idFalse">
                Nej
            </label>

            <input type="radio" id="@idFalse" name="@name" value="false" />
        </li>
    </ul>
</fieldset>