@model Microsoft.AspNetCore.Http.IFormFile


<div class="fileUploadArea">
    <div class="fileUploadButtonsArea">
        <label for="@Html.IdForModel()">
            <span class="show-for-sr">@Html.DisplayNameFor(m => m) </span>
            @Html.ValidationMessageFor(m => m)
        </label>

        <input class="button choose-file" asp-for="@Model" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <button tabindex="-1" class="button choose-file">Velg fil</button>

    </div>
</div>

@*<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
        @Html.ValidationMessageFor(m => m)
    </label>

    <input asp-for="@Model" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
</div>*@