@model bool

@{
    var name = ViewData["id"];
    var idTrue = name + "_true";
    var idFalse = name + "_false";
}

<div class="fieldset">
    <label for="@idTrue">
        Ja
    </label>

    <input type="radio" id="@idTrue" name="@name" value="true" />
</div>

<div class="fieldset">
    <label for="@idFalse">
        Nej
    </label>

    <input type="radio" id="@idFalse" name="@name" value="false" />
</div>