@using Difi.Sjalvdeklaration.Shared.Attributes
@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@model string

@{
    var autoCompleteAttribute = (AutoCompleteAttribute)((DefaultModelMetadata)ViewData.ModelMetadata).Attributes.Attributes.SingleOrDefault(x => x is AutoCompleteAttribute);

    var autoComplete = "off";

    if (autoCompleteAttribute != null)
    {
        autoComplete = autoCompleteAttribute.Value;
    }

    var readyOnly = false;

    if (ViewData["readOnly"]!=null)
    {
        readyOnly = (bool) ViewData["readOnly"];
    }
}

<div class="form-field">
    <label for="@Html.IdForModel()">
        @Html.DisplayNameFor(m => m)
        @Html.ValidationMessageFor(m => m)
    </label>

    @if (readyOnly)
    {
        @Html.TextBoxFor(m => m, new { data_label = Html.DisplayNameFor(m => m), autocomplete = autoComplete, @readonly = readyOnly })
    }
    else
    {
        @Html.TextBoxFor(m => m, new { data_label = Html.DisplayNameFor(m => m), autocomplete = autoComplete })
    }
</div>