@page
@model CompanyLinkModel
@{
    ViewData["Title"] = "CompanyLink";
}

<header>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="row">
                <div class="small-8 column">
                    <div class="logo">
                        <img alt="Difi" src="~/images/difi-logo.svg" />
                    </div>
                </div>
                <div class="small-4 column">

                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <form method="post">
        <div class="row">
            <div class="large-7 large-centered small-12 columns">
                <h1>@Localizer["Complement organizational information"]</h1>

                <p>
                    @Localizer["When you log in for the first time, you must enter the organization number of the business and the four-digit code specified in the Authority notification received by Difi email."]
                </p>

                @if (Model.ViewError)
                {
                    <div class="errorOnThis">
                        @Localizer["The organization number and pin code do not match."]
                    </div>
                }

                <div asp-validation-summary="All"></div>

                @Html.EditorFor(x => x.AddLinkToCompany.CorporateIdentityNumber, "TextBox")
                @Html.EditorFor(x => x.AddLinkToCompany.Code, "TextBox")
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="large-7 large-centered small-12 columns">
                <input class="button large" type="submit" value="@Localizer["Next step"]" asp-route-handler="link" />
            </div>
        </div>
    </form>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}