@page
@model CompanyLinkModel
@{
    ViewData["Title"] = "CompanyLink";
}

<header>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="row">
                <div class="small-8 column">
                    <div class="logo">
                        <img src="/images/logo/difi-logo@1x.png"
                             srcset="/images/logo/difi-logo@1x.png 1x, /images/logo/difi-logo@2x.png 2x, /images/logo/difi-logo@3x.png 3x, /images/logo/difi-logo@4x.png 4x"
                             alt="Difi"
                             width="119"
                             height="61"
                             class="hide-for-small-only" />

                        <span class="large-text">Egenkontroll automater</span>
                        <span class="small-text">Tilsyn for universell utforming av ikt</span>
                    </div>
                </div>
                <div class="small-4 column">

                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <form method="post">
        <div class="row">
            <div class="large-7 large-centered small-12 columns">
                <h1>@Localizer["Complement organizational information"]</h1>

                <p>
                    @Localizer["When you log in for the first time, you must enter the organization number of the business and the four-digit code specified in the Authority notification received by Difi email."]
                </p>

                <br/>

                <div asp-validation-summary="All"></div>

                @Html.EditorFor(x => x.AddLinkToCompany.CorporateIdentityNumber, "TextBoxNumber")
                @Html.EditorFor(x => x.AddLinkToCompany.Code, "TextBoxNumber")
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="large-7 large-centered small-12 columns">
                <input class="button large" type="submit" value="@Localizer["Next step"]" asp-route-handler="link" />
            </div>
        </div>
    </form>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}