@page
@using Difi.Sjalvdeklaration.Shared.Enum
@model wwwroot.Pages.Declaration.DeclarationReadModel

@{
    var title = "Selvdeklarasjon - Läsa";

    ViewData["Title"] = title;
}

<h1>@title</h1>

<a asp-page="/Declaration/DeclarationList">DeclarationList</a>

@foreach (var outcomeData in Model.OutcomeDataList.OrderBy(x => x.Requirement.Order))
{
    <h2>@outcomeData.Requirement.Id <span>(@outcomeData.Result.Text)</span></h2>


    <h3>@outcomeData.Requirement.Description</h3>

    foreach (var ruleData in outcomeData.RuleDataList.OrderBy(x => x.Rule.Order))
    {

        foreach (var answerData in ruleData.AnswerDataList)
        {
            <h4>@answerData.AnswerItem.Question <span>(@ruleData.Result.Text)</span></h4>

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.String)
            {
                <b>@answerData.String</b> <span>(@answerData.Result.Text)</span>
            }

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.Bool)
            {
                <b>@answerData.Bool</b> <span>(@answerData.Result.Text)</span>
            }

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.Int)
            {
                <b>@answerData.Int</b> <span>(@answerData.Result.Text)</span>
            }
        }
        <br /><br />
    }

    <hr />
}