@page
@using Difi.Sjalvdeklaration.Shared.Enum
@model DeclarationFormModel

@{
    var title = "Selvdeklarasjon";

    ViewData["Title"] = title;
}

<h1>@title</h1>

<form method="post">
    Frist for innlevering: @Model.DeclarationItemForm.DeadlineDate<br />
    TypeOfMachine: @Model.DeclarationItemForm.DeclarationTestItem.TypeOfMachine.Text<br />
    TypeOfTest: @Model.DeclarationItemForm.DeclarationTestItem.TypeOfTest.Text<br />
    <br /><br />



    @foreach (var declarationTestGroup in Model.DeclarationItemForm.TestGroupList.OrderBy(x => x.Order))
    {
        <h2>@declarationTestGroup.TestGroupItem.Name</h2>

        foreach (var requirementItem in declarationTestGroup.TestGroupItem.RequirementList.OrderBy(x => x.Order))
        {
            <h3>@requirementItem.Description</h3>

            foreach (var ruleItem in requirementItem.RuleList.OrderBy(x => x.Order))
            {
                foreach (var answerItem in ruleItem.AnswerList)
                {
                    if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Bool)
                    {
                        @Html.EditorFor(x => answerItem.Bool, "CustomRadioButtonBool", new {text = ruleItem.Instruction, id = "answer_bool_" + declarationTestGroup.TestGroupItemId + "_" + requirementItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id })
                    }

                    if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Int)
                    {
                        @Html.EditorFor(x => answerItem.MinInt, "CustomTextBoxInt", new { text = ruleItem.Instruction, id = "answer_int_" + declarationTestGroup.TestGroupItemId + "_" + requirementItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id })
                    }
                }
                <br />
            }
            <br />
        }
        <hr />
    }

    <button class="button" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id">Skicka in</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}