@page
@using Difi.Sjalvdeklaration.wwwroot.Pages.Declaration

@model DeclarationStartModel
@{
    ViewData["Title"] = Model.DeclarationItemForm?.Name;
}

@if (Model.DeclarationItemForm != null)
{
    @Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new {backUrl = "/Declaration/DeclarationList"})

    <main>
        <div class="row">
            <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
                <div class="row column">
                    <div class="info-wrapper">
                        <h2>@Localizer["Select the payment terminal you want to perform self-checking on"]</h2>

                        <p>
                            @Localizer["The business must have at least one payment terminal that meets the requirements for universal design of ICT. It is an advantage if the most widely used payment terminal is also universally designed."]
                        </p>
                    </div>
                </div>

                <br/>
                <a class="button alt" asp-page="/Declaration/DeclarationNoMachine" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["I have no payment terminal"]</a>
                <br/>
                <br/>

                    @Localizer["<p>You must now decide which payment terminal you are going to check in this self-check. Choose the one closest to meeting these points:</p><ul><li>The box is signed and the sign is visible at a distance so that customers know where to pay their goods.</li><li>The area just in front of the payment terminal, which the customer pays, is without obstacles (at least 150 x 150 cm).</li><li>There is plenty of distance to the next payment terminal if there are more payment terminals on the straight line (at least 150 cm).</li><li>The payment terminal has a height above the floor that allows it to be used by customers who are standing and sitting when they pay (between 75 - 130 cm).</li></ul>"]

                <hr/>

                <form method="post">
                    <button class="button update large" type="submit" asp-page-handler="UpdateHaveMachine" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Ok, now I would like will start!"]</button>
                </form>
            </div>
        </div>
    </main>
}