@page
@model wwwroot.Pages.Declaration.DeclarationThanksModel
@{
    ViewData["Title"] = Model.DeclarationItemForm.Name;
}

@Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new { backUrl = "/Declaration/DeclarationRead?id=" + Model.DeclarationItemForm.Id })

<main>
    <div class="the-end">
        <div class="row">
            <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="img-wrapper text-center">
                            <img alt="illustration" src="~/images/illustrations/start.png" />
                            <br />
                            <h2>@Localizer["Thank you for your answers"]</h2>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="">
                        @Localizer["<p>You have now completed your own control. We confirm that Difi has received your reply.</p><p>The business gets to know the results in an inspection report. We will send the audit report within 14 days.</p><p>The Audit Report is a public document and final report will be published on our website uu.difi.no.</p>"]

                        <div class="date-sent">
                            @Localizer["Submitted"]: @Model.DeclarationItemForm.SentInDate.ToString("dd.MM.yyyy HH:mm")
                        </div>
                        <div class="date-deadline">
                            @Localizer["Deadline"]: @Model.DeclarationItemForm.DeadlineDate.ToString("dd.MM.yyyy HH:mm")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr /><br />

    <div class="the-end">
        <div class="row hide-for-print">
            <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
                <a asp-page="/Declaration/DeclarationRead" class="button large" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["To summary"]</a>
                <br /><br />
                <a asp-page="/Declaration/DeclarationList" class="button large" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["To overview"]</a>
                <br /><br />
                <button class="button print jsPrintButton" type="submit" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Print"]</button>
                <br /><br />
            </div>
        </div>
    </div>
</main>