@page
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Data
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Rules
@using Difi.Sjalvdeklaration.Shared.Enum

@model Difi.Sjalvdeklaration.wwwroot.Pages.Declaration.DeclarationFormModel

@{
    var title = "Egenkontroll";
    ViewData["Title"] = title;
    var mainIndex = 1;

    var ruleItem11 = new RuleItem
    {
        Language = new RuleItemLanguage
        {
            HelpText = "<p>Difi trenger å vite hvilken betalingsterminal du kontrollerer og sender inn opplysninger om.</p>"
        }
    };

    var ruleItem12 = new RuleItem
    {
        Language = new RuleItemLanguage
        {
            HelpText = "<p>Her kan du for eksempel skrive hvor betalingsterminalen er plassert. <br />Eksempler er kasse 1, nærmest inngangen/utgangen, den til venstre for Inngangen/utgangen.</p>"
        }
    };


    var ruleItem13 = new RuleItem
    {
        Language = new RuleItemLanguage
        {
            HelpText = "<p>Bildet skal vise hvor betalingsterminalen er plassert. Bildet skal vise hele betalingsterminalen og området foran terminalen.</p>"
        }
    };
}

@Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new { statusDone = 50, backUrl = "/Declaration/DeclarationStart?id=" + Model.DeclarationItemForm.Id })


<form method="post">
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <div class="row column">
                <div class="info-wrapper">
                    <h2>Du trenger følgende verktøy</h2>

                    <div>
                        <img src="~/images/kamera.png" />
                        <img src="~/images/mata.png" />
                        Målebånd eller tommestokk, kamera.
                    </div>
                    <br />
                </div>
            </div>


            <br />

            <div class="jsToggleCardContainer">
                <div class="row medium-uncollapse">
                    <div class="small-12 medium-12 columns">
                        <h2 class="h2-toggle"><button class="toogle-header-button jsToggleCardButton"><span class="toggle-header-number">@mainIndex</span> Automaten <span class="toggle-header-icon"><span class="show-for-sr">@Localizer["ShowHide"] Automaten</span></span> </button></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <div class="jsToggleCardTarget">
                            <div class="card jsCard">
                                @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.SupplierAndVersionId, "AnswerDropdownListInt", new { list = Model.SelectSupplierAndVersionList, text = "Velg fra listen hvilken produsent og modell betalingsterminal du skal kontrollere.", id = "answer_int_supplierandversion", firstQuestion = true, orderText = "1.1", value = Model.DeclarationItemForm.DeclarationTestItem.SupplierAndVersionId, ruleItem = ruleItem11 })

                                <div id="jsSupplierAndVersionOther">
                                    @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.SupplierAndVersionOther, "AnswerString", new { text = "Produsent og navn på automat.", id = "answer_string_testitem_supplierandversionother", firstQuestion = false, orderText = "1.1", value = Model.DeclarationItemForm.DeclarationTestItem.SupplierAndVersionOther })
                                </div>
                            </div>

                            <div class="card jsCard">
                                @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.DescriptionInText, "AnswerString", new { text = "Beskriv hvilken betalingsterminal du velger å kontrollere.", id = "answer_string_testitem_descriptionintext", firstQuestion = true, orderText = "1.2", value = Model.DeclarationItemForm.DeclarationTestItem.DescriptionInText, ruleItem = ruleItem12 })
                            </div>

                            <div class="card jsCard">
                                @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.Image1, "AnswerImage", new { text = "Ta et oversiktsbilde av betalingsterminalen du skal registrere opplysninger om.", id = "answer_image_testitem_image1", firstQuestion = true, orderText = "1.3", value = "", ruleItem = ruleItem13 })
                            </div>

                            <div class="card jsCard">
                                @Html.EditorFor(x => x.DeclarationItemForm.DeclarationTestItem.Image2, "AnswerImage", new { text = "Ta et nærbilde av betalingsterminalen du skal registrere opplysninger om.", id = "answer_image_testitem_image2", firstQuestion = true, orderText = "1.4", value = "" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var declarationIndicatorGroup in Model.TestGroupItemList)
            {
                var subIndex = 0;
                mainIndex++;

                var indicatorList = Model.DeclarationItemForm.IndicatorList.Where(x => x.TestGroupItemId == declarationIndicatorGroup.Id);

                <div class="jsToggleCardContainer">
                    <div class="row medium-uncollapse">
                        <div class="small-12 medium-12 columns">
                            <h2 class="h2-toggle"><button data-id="@declarationIndicatorGroup.Id" class="toogle-header-button jsToggleCardButton"><span class="toggle-header-number">@mainIndex</span> @declarationIndicatorGroup.Language.Name <span class="toggle-header-icon"><span class="show-for-sr">@Localizer["ShowHide"] @declarationIndicatorGroup.Language.Name</span></span> </button></h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-12 columns">
                            <div class="jsToggleCardTarget" data-id="@declarationIndicatorGroup.Id">

                                @foreach (var item in indicatorList)
                                {
                                    var indicatorItem = item.IndicatorItem;
                                    var outcomeData = indicatorItem.OutcomeData;


                                    foreach (var ruleItem in indicatorItem.RuleList.OrderBy(x => x.Order))
                                    {
                                        RuleData ruleData = null;

                                        if (outcomeData != null)
                                        {
                                            ruleData = outcomeData.RuleDataList.SingleOrDefault(x => x.RuleItemId == ruleItem.Id);
                                        }

                                        var firstQuestion = true;
                                        subIndex++;

                                        <div class="card jsCard">
                                            <div class="jsRuleItem" id="@ruleItem.Id">
                                                @foreach (var answerItem in ruleItem.AnswerList.OrderBy(x => x.Order))
                                                {
                                                    AnswerData answerData = null;

                                                    if (ruleData != null)
                                                    {
                                                        answerData = ruleData.AnswerDataList.SingleOrDefault(x => x.AnswerItemId == answerItem.Id);
                                                    }

                                                    var hide = (answerItem.LinkedParentFailedId != Guid.Empty || answerItem.LinkedParentCorrectId != Guid.Empty) && !answerItem.AlwaysVisible;

                                                    var formId = indicatorItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id;
                                                    var orderText = mainIndex + "." + subIndex;

                                                    <div class="jsAnswerItem" data-hide="@hide" data-type="@answerItem.TypeOfAnswer.Text" data-id="@answerItem.Id" data-bool="@answerItem.Bool" data-AlwaysVisible="@answerItem.AlwaysVisible" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-LinkedParentFailedId="@answerItem.LinkedParentFailedId" data-LinkedParentCorrectId="@answerItem.LinkedParentCorrectId">
                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.String)
                                                        {
                                                            @Html.EditorFor(x => answerItem.String, "AnswerString", new { text = answerItem.Language.Question, id = "answer_string_" + formId, firstQuestion = firstQuestion, orderText = orderText, value = answerData?.String, ruleItem = ruleItem })
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Bool)
                                                        {
                                                            if (answerData != null)
                                                            {
                                                                @Html.EditorFor(x => answerItem.Bool, "AnswerBool", new { text = answerItem.Language.Question, id = "answer_bool_" + formId, firstQuestion = firstQuestion, orderText = orderText, value = answerData.Bool, trueText = answerItem.Language.BoolTrueText, falseText = answerItem.Language.BoolFalseText, ruleItem = ruleItem })
                                                            }
                                                            else
                                                            {
                                                                @Html.EditorFor(x => answerItem.Bool, "AnswerBool", new { text = answerItem.Language.Question, id = "answer_bool_" + formId, firstQuestion = firstQuestion, orderText = orderText, trueText = answerItem.Language.BoolTrueText, falseText = answerItem.Language.BoolFalseText, ruleItem = ruleItem })
                                                            }
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Int)
                                                        {
                                                            @Html.EditorFor(x => answerItem.MinInt, "AnswerInt", new { text = answerItem.Language.Question, id = "answer_int_" + formId, firstQuestion = firstQuestion, orderText = orderText, value = answerData?.Int, ruleItem = ruleItem })
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Image)
                                                        {
                                                            if (answerData != null)
                                                            {
                                                                @Html.EditorFor(x => answerData.Image, "AnswerImage", new { text = answerItem.Language.Question, id = "answer_image_" + formId, firstQuestion = firstQuestion, orderText = orderText, ruleItem = ruleItem })
                                                            }
                                                            else
                                                            {
                                                                @Html.EditorFor(x => answerItem.Image, "AnswerImage", new { text = answerItem.Language.Question, id = "answer_image_" + formId, firstQuestion = firstQuestion, orderText = orderText, ruleItem = ruleItem })
                                                            }

                                                        }
                                                    </div>

                                                    firstQuestion = false;
                                                }
                                            </div>
                                        </div>
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <hr><br />

    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">
            <button class="button large" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Save"]</button>
            <br />
            <p>
                @Localizer["save-automatic-info-text"]
            </p>
        </div>
    </div>
</form>







@section Scripts {
    <script src="~/js/declarationForm.js"></script>

    <link href="/js/azure.fine-uploader/fine-uploader-gallery.css" rel="stylesheet">
    <link href="/js/azure.fine-uploader/fine-uploader-gallery.min.css" rel="stylesheet">
    <script src="/js/azure.fine-uploader/azure.fine-uploader.js"></script>


    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <ul class="listing qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>

                    <button class="link-button qq-btn qq-upload-delete-selector qq-upload-delete">@Localizer["DeleteImage"]</button>
                </li>
            </ul>
            <div class="qq-upload-button-selector qq-upload-button">

                <div class="row ">
                    <div class="small-10 small-centered medium-12 columns">
                        <button class="button upload-photo"><span></span>@Localizer["AddImage"]</button>
                    </div>
                </div>
            </div>
        </div>

    </script>

    <script>
        $(".uploader").each(function () {

            var uploader = new qq.azure.FineUploader({
                element: document.getElementById($(this).attr("id")),
                request: {
                    endpoint: 'https://difiimagetest.blob.core.windows.net/difi20181128'
                },
                signature: {
                    endpoint: '/AzureHandler'
                },
                uploadSuccess: {
                    endpoint: '/AzureHandler?id=' + $(this).attr("id")
                },
                retry: {
                    enableAuto: true
                },
                deleteFile: {
                    enabled: true
                },
                multiple: false,
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'png', 'gif']
                },
                debug: true
            });
        });
    </script>

    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}
