@page
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Data
@using Difi.Sjalvdeklaration.Shared.Enum
@model wwwroot.Pages.Declaration.DeclarationReadModel

@{
    var title = "Egenkontroll - Läsa";

    ViewData["Title"] = title;

    var mainIndex = 1;
}

@Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new { backUrl = "/Declaration/DeclarationForm?id=" + Model.DeclarationItemForm.Id })

<main>
    <div class="row">
        <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">

            @Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationReadStep1", new {mainIndex, allDone = @Model.AllDoneStep1 })

            @foreach (var declarationIndicatorGroup in Model.TestGroupItemList)
            {
                mainIndex++;
                @Html.DisplayFor(x => declarationIndicatorGroup, "DeclarationReadTestGroup", new {mainIndex, declarationItem = Model.DeclarationItemForm })
            }
            
            <br />

            <form method="post">
                <div class="row collapse align-bottom">
                    <div class="small-12 medium-7 columns">
                        <a asp-page="/Declaration/DeclarationForm" class="button large" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Back"]</a>

                        @if (Model.DeclarationItemForm.DeclarationTestItem.StatusCount == 4)
                        {
                            <button class="button large" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Send"]</button>
                        }

                    </div>
                    <div class="small-12 medium-5 text-right columns">
                        <button class="button print" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Print"]</button>
                        <br /><br />
                    </div>
                </div>
                <div class="row column">
                    <p><br />For å kunne sende inn, må du først fullføre egenkontrollen ved å svare på alle spørsmålene.</p>
                </div>
            </form>
        </div>
    </div>
</main>