@page
@using Difi.Sjalvdeklaration.Shared.Enum
@model wwwroot.Pages.Declaration.DeclarationReadModel

@{
    var title = "Egenkontroll - Läsa";

    ViewData["Title"] = title;

    var mainIndex = 1;
}

<div class="row column">
    <h1>@title</h1>
</div>

<form method="post">

    @foreach (var declarationIndicatorGroup in Model.TestGroupItemList)
    {
        var subIndex = 0;
        mainIndex++;

        var indicatorList = Model.DeclarationItemForm.IndicatorList.Where(x => x.TestGroupItemId == declarationIndicatorGroup.Id);

        <div class="jsToggleCardContainer">
            <div class="row medium-uncollapse">
                <div class="small-12 medium-12 columns">
                    <h2 class="h2-toggle"><button data-id="@declarationIndicatorGroup.Id" class="toogle-header-button jsToggleCardButton"><span class="toggle-header-number">@mainIndex</span> @declarationIndicatorGroup.Name <span class="toggle-header-icon"><span class="show-for-sr">@Localizer["ShowHide"] @declarationIndicatorGroup.Name</span></span> </button></h2>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-12 columns">
                    <div class="jsToggleCardTarget" data-id="@declarationIndicatorGroup.Id">

                        @foreach (var item in indicatorList)
                        {
                            var indicatorItem = item.IndicatorItem;
                            var outcomeData = indicatorItem.OutcomeData;

                            foreach (var ruleItem in indicatorItem.RuleList.OrderBy(x => x.Order))
                            {
                                var ruleData = outcomeData.RuleDataList.SingleOrDefault(x => x.RuleItemId == ruleItem.Id);

                                subIndex++;

                                <div class="card transparent">
                                    <div class="jsRuleItem" id="@ruleItem.Id">
                                        @foreach (var answerItem in ruleItem.AnswerList.OrderBy(x => x.Order))
                                        {
                                            var answerData = ruleData.AnswerDataList.SingleOrDefault(x => x.AnswerItemId == answerItem.Id);

                                            var hide = answerItem.ViewIfParentFailedId != Guid.Empty || answerItem.ViewIfParentCorrectId != Guid.Empty;

                                            var formId = indicatorItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id;
                                            var orderText = mainIndex + "." + subIndex;

                                            <div class="jsAnswerItem" data-hide="@hide" data-type="@answerItem.TypeOfAnswer.Text" data-id="@answerItem.Id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfParentFailedId="@answerItem.ViewIfParentFailedId" data-ViewIfParentCorrectId="@answerItem.ViewIfParentCorrectId">

                                                <div class="form-field">

                                                    <label class="legend">
                                                        <span class="collapse row">
                                                            <span class="small-10 columns">
                                                                <span class="collapse row">
                                                                    <span class="small-2 medium-1 columns">
                                                                        <span class="legend-number">@orderText</span>
                                                                    </span>
                                                                    <span class="small-10 medium-11 columns">
                                                                        <span class="legend-text">
                                                                            @answerItem.Question
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>

                                                            <span class="small-2 columns"></span>
                                                        </span>
                                                    </label>

                                                    <div class="card-divider">
                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.String)
                                                        {
                                                            @answerData.String
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Bool)
                                                        {
                                                            @answerData.Bool
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Int)
                                                        {
                                                            @answerData.Int
                                                        }

                                                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Image)
                                                        {
                                                            if (answerData.Image != null)
                                                            {
                                                                var image = answerData.Image.Container + "/" + answerData.Image.Blob;
                                                                <img src="@image" alt="" width="200" />
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="small-12 medium-4 columns">
            <button class="button large" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Send"]</button>
            <br /><br />
            <a asp-page="/Declaration/DeclarationForm" class="button large" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Back"]</a>
            <br /><br />
            <a asp-page="/Declaration/DeclarationList" class="button large">DeclarationList</a>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="small-10 medium-4 columns">
            <button class="button" type="submit" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Print"]</button>
            <br /><br />
        </div>
    </div>
</form>