@page
@using Difi.Sjalvdeklaration.Shared.Enum
@model wwwroot.Pages.Declaration.DeclarationReadModel

@{
    var title = "Selvdeklarasjon - Läsa";

    ViewData["Title"] = title;

    var lastTestGroupOrder = 0;
    var mainIndex = 1;
    var subIndex = 0;
}

<h1>@title</h1>

<a asp-page="/Declaration/DeclarationList">DeclarationList</a>

@foreach (var declarationIndicatorGroup in Model.DeclarationItemForm.IndicatorList.OrderBy(x => x.TestGroupOrder).ThenBy(x => x.IndicatorInTestGroupOrder))
{
    var indicatorItem = declarationIndicatorGroup.IndicatorItem;
    var outcomeData = declarationIndicatorGroup.IndicatorItem.OutcomeData;

    if (lastTestGroupOrder != declarationIndicatorGroup.TestGroupOrder)
    {
        subIndex = 0;
        mainIndex++;

        lastTestGroupOrder = declarationIndicatorGroup.TestGroupOrder;

        <h2 class="h2-toggle">@mainIndex @declarationIndicatorGroup.IndicatorItem.Name</h2>
    }

    <div>
        @foreach (var ruleItem in indicatorItem.RuleList.OrderBy(x => x.Order))
        {
            var ruleData = outcomeData.RuleDataList.SingleOrDefault(x => x.RuleItemId == ruleItem.Id);

            var firstQuestion = true;

            subIndex++;

            <div class="card">
                <div class="card-divider jsRuleItem" id="@ruleItem.Id">
                    @foreach (var answerItem in ruleItem.AnswerList.OrderBy(x => x.Order))
                    {
                        var answerData = ruleData.AnswerDataList.SingleOrDefault(x => x.AnswerItemId == answerItem.Id);

                        var hide = answerItem.ViewIfParentFailedId != Guid.Empty || answerItem.ViewIfParentCorrectId != Guid.Empty;

                        var formId = indicatorItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id;
                        var orderText = mainIndex + "." + subIndex;

                    <div class="jsAnswerItem" data-hide="@hide" data-type="@answerItem.TypeOfAnswer.Text" data-id="@answerItem.Id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfParentFailedId="@answerItem.ViewIfParentFailedId" data-ViewIfParentCorrectId="@answerItem.ViewIfParentCorrectId">

                        <h3>@answerItem.Question</h3>

                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.String)
                        {
                            @answerData.String
                        }

                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Bool)
                        {
                            @answerData.Bool
                        }

                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Int)
                        {
                            @answerData.Int
                        }

                        @if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Image)
                        {

                        }

                        <br />
                        <br />

                    </div>

                        firstQuestion = false;
                    }

                </div>
            </div>
        }
    </div>
}


@*@foreach (var outcomeData in Model.OutcomeDataList)
{
    <h2>@outcomeData.Id <span>(@outcomeData.Result.Text)</span></h2>


    foreach (var ruleData in outcomeData.RuleDataList.OrderBy(x => x.Rule.Order))
    {

        foreach (var answerData in ruleData.AnswerDataList)
        {
            <h4>@answerData.AnswerItem.Question <span>(@ruleData.Result.Text)</span></h4>

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.String)
            {
                <b>@answerData.String</b> <span>(@answerData.Result.Text)</span>
            }

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.Bool)
            {
                <b>@answerData.Bool</b> <span>(@answerData.Result.Text)</span>
            }

            if (answerData.TypeOfAnswerId == (int)TypeOfAnswer.Int)
            {
                <b>@answerData.Int</b> <span>(@answerData.Result.Text)</span>
            }
        }
        <br /><br />
    }

    <hr />
}*@