@page
@model DeclarationListModel
@{
    ViewData["Title"] = "DeclarationList";
}

<h2>DeclarationList</h2>

<table class="table">
    <caption>
        <h2>Virksamheter</h2>
    </caption>
    <thead>
    <tr>
        <th scope="col">Corporate Identity Number</th>
        <th scope="col">Name</th>
        <th scope="col">ContactPerson Name</th>
        <th scope="col">ContactPerson Email</th>
        <th scope="col">ContactPerson Phone</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CompanyList)
    {
        var contactPerson = item.ContactPersonList.FirstOrDefault();

        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.CorporateIdentityNumber
            </td>
            <td>
                @contactPerson?.Name
            </td>
            <td>
                @contactPerson?.Email
            </td>
            <td>
                @contactPerson?.Phone
            </td>
        </tr>
    }
    </tbody>
</table>

<table class="table">
    <caption>
        <h2>Selvdeklarasjoner</h2>
    </caption>
    <thead>
        <tr>
            <th scope="col">Automat</th>
            <th scope="col">Virksamhet</th>
            <th scope="col">Dato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeclarationList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Company.Name
                </td>
                <td>
                    @item.CreatedDate.ToString("yyyy-MM-dd")
                </td>
            </tr>
        }
    </tbody>
</table>