@page
@using Difi.Sjalvdeklaration.Shared.Enum
@model Difi.Sjalvdeklaration.wwwroot.Pages.Declaration.DeclarationFormModel

@{
    var title = "Selvdeklarasjon";
    var lastTestGroupOrder = 0;
    ViewData["Title"] = title;
}

<h1>@title</h1>

<form method="post">
    Frist for innlevering: @Model.DeclarationItemForm.DeadlineDate<br />
    TypeOfMachine: @Model.DeclarationItemForm.DeclarationTestItem.TypeOfMachine.Text<br />
    TypeOfTest: @Model.DeclarationItemForm.DeclarationTestItem.TypeOfTest.Text<br />
    <br /><br />

    @foreach (var declarationIndicatorGroup in Model.DeclarationItemForm.IndicatorList.OrderBy(x => x.TestGroupOrder).ThenBy(x => x.IndicatorInTestGroupOrder))
    {
        var indicatorItem = declarationIndicatorGroup.IndicatorItem;

        if (lastTestGroupOrder != declarationIndicatorGroup.TestGroupOrder)
        {
            lastTestGroupOrder = declarationIndicatorGroup.TestGroupOrder;

            <h2 class="h2-toggle">@declarationIndicatorGroup.TestGroupOrder @declarationIndicatorGroup.IndicatorItem.Name</h2>
        }

        <div>
            @foreach (var ruleItem in indicatorItem.RuleList.OrderBy(x => x.Order))
            {
                var firstQuestion = true;

                <div class="card">
                    <div class="card-divider jsRuleItem" id="@ruleItem.Id">
                        @foreach (var answerItem in ruleItem.AnswerList.OrderBy(x => x.Order))
                        {
                            var id = indicatorItem.Id + "_" + ruleItem.Id + "_" + answerItem.Id;
                            var orderText = declarationIndicatorGroup.IndicatorInTestGroupOrder + "." + ruleItem.Order;

                            if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.String)
                            {
                                <div class="jsAnswerItem" data-type="@answerItem.TypeOfAnswer.Text" data-id="@id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfOtherFailed="@answerItem.ViewIfOtherFailed" data-ViewIfOtherFaildId="@answerItem.ViewIfOtherFaildId">
                                    @Html.EditorFor(x => answerItem.String, "CustomTextBoxString", new { text = answerItem.Question, id = "answer_string_" + id, firstQuestion = firstQuestion, orderText = orderText })
                                </div>
                            }

                            if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Bool)
                            {
                                <div class="jsAnswerItem" data-type="@answerItem.TypeOfAnswer.Text" data-id="@id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfOtherFailed="@answerItem.ViewIfOtherFailed" data-ViewIfOtherFaildId="@answerItem.ViewIfOtherFaildId">
                                    @Html.EditorFor(x => answerItem.Bool, "CustomRadioButtonBool", new { text = answerItem.Question, id = "answer_bool_" + id, firstQuestion = firstQuestion, orderText = orderText })
                                </div>
                            }

                            if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Int)
                            {
                                <div class="jsAnswerItem" data-type="@answerItem.TypeOfAnswer.Text" data-id="@id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfOtherFailed="@answerItem.ViewIfOtherFailed" data-ViewIfOtherFaildId="@answerItem.ViewIfOtherFaildId">
                                    @Html.EditorFor(x => answerItem.MinInt, "CustomTextBoxInt", new { text = answerItem.Question, id = "answer_int_" + id, firstQuestion = firstQuestion, orderText = orderText })
                                </div>
                            }

                            if (answerItem.TypeOfAnswer.Id == (int)TypeOfAnswer.Image)
                            {
                                <div class="jsAnswerItem" data-type="@answerItem.TypeOfAnswer.Text" data-id="@id" data-bool="@answerItem.Bool" data-min="@answerItem.MinInt" data-max="@answerItem.MaxInt" data-ViewIfOtherFailed="@answerItem.ViewIfOtherFailed" data-ViewIfOtherFaildId="@answerItem.ViewIfOtherFaildId">
                                    Välj bild:
                                    <input type="file" accept="image/*">
                                </div>
                            }

                            firstQuestion = false;
                        }

                    </div>
                </div>
            }
        </div>
    }

    <button class="button" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id">Skicka in</button>
</form>

@section Scripts {
    <script src="~/js/declarationForm.js"></script>
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}