@page
@using Difi.Sjalvdeklaration.Shared.Classes.Declaration.Data
@using Difi.Sjalvdeklaration.Shared.Enum
@model wwwroot.Pages.Declaration.DeclarationReadModel

@{
    ViewData["Title"] = Model.DeclarationItemForm?.Name;

    var mainIndex = 1;
}

@if (Model.DeclarationItemForm != null)
{
    if (Model.DeclarationItemForm.Status.Id == (int)DeclarationStatus.Started || Model.DeclarationItemForm.Status.Id == (int)DeclarationStatus.Return)
    {
        @Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new { backUrl = "/Declaration/DeclarationForm?id=" + Model.DeclarationItemForm.Id })
    }
    else
    {
        @Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationStatus", new { backUrl = "/Declaration/DeclarationList" })
    }
    <main>
        <div class="row">
            <div class="xlarge-12 large-10 small-12 large-centered xlarge-uncentered columns">

                <div class="info-wrapper">
                    <div class="row">
                        <div class="small-12 columns">
                            <h2>@Localizer["Oppsummering"]</h2>
                        </div>
                        <div class="small-12 medium-12 end columns">
                            @if (Model.DeclarationItemForm.Status.Id == (int) DeclarationStatus.Started || Model.DeclarationItemForm.Status.Id == (int) DeclarationStatus.Return)
                            {
                            @Localizer["Confirm the information you have registered by pressing the submit button."]
                            }
                        </div>
                        <br>
                    </div>
                </div>

                <br />

                @Html.DisplayFor(x => x.DeclarationItemForm, "DeclarationReadStep1", new {mainIndex, allDone = Model.AllDoneStep1, viewResult=false})

                @foreach (var declarationIndicatorGroup in Model.TestGroupItemList)
                {
                    mainIndex++;
                @Html.DisplayFor(x => declarationIndicatorGroup, "DeclarationReadTestGroup", new {mainIndex, declarationItem = Model.DeclarationItemForm, viewResult = false})
                }

                <hr />

                <div class="row collapse align-bottom hide-for-print">
                    @if (Model.DeclarationItemForm.DeclarationTestItem.StatusCount != 4)
                    {
                    <div class="small-12 columns">
                        <p class="send-info-wrapper">@Localizer["To submit, you must first answer all questions and add all photos"]</p>
                    </div>
                    }

                    @if (Model.DeclarationItemForm.Status.Id == (int) DeclarationStatus.Started || Model.DeclarationItemForm.Status.Id == (int) DeclarationStatus.Return)
                    {
                    <div class="small-12 columns">
                        @if (Model.DeclarationItemForm.DeclarationTestItem.StatusCount == 4)
                            {
                        <form method="post">
                            <a asp-page="/Declaration/DeclarationForm" class="button alt" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Go back and change"]</a>
                            <button class="button large" type="submit" asp-page-handler="SendIn" asp-route-id="@Model.DeclarationItemForm.Id" asp-route-companyid="@Model.DeclarationItemForm.CompanyItemId">@Localizer["Submit"]</button>
                        </form>
                            }
                            else
                            {
                        <button class="button large" disabled="disabled" type="submit">@Localizer["Submit"]</button>
                        <a asp-page="/Declaration/DeclarationForm" class="button alt" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Go back and change"]</a>
                            }
                    </div>
                    }

                    @*<div class="small-12 columns">
                <br/>
                <button class="button print jsPrintButton" asp-route-id="@Model.DeclarationItemForm.Id">@Localizer["Print"]</button>
            </div>*@
                </div>
                <br /><br />
            </div>
        </div>
    </main>
}